*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #ccc;
}
#board{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    width: 60%;
    height: 60%;
    margin: auto;
}
.ligne{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    display: flex;
}
.colonne{
    display: flex;
    width: 100%;
    border: 2px solid aqua;
}
.pion{
    transition: .4s;
    cursor: pointer;
    border: 2px double black;
    box-shadow: .5em .5em black;
    margin:auto;
    width: 25%;
    height: 50%;
    display: flex;
    border-radius: 5em;
}
.rouge{
    background: red;
}
.vert{
    background:green ;
}
.pion:hover{
    transition: .4s;
    margin-bottom: 10%;
    height:52%;
    border-color: white;
    box-shadow: .5em .5em grey;
}